a:hover {
  color: red;
}

a:active {
  color: blue;
}

a:visited {
  color: red;
}


//When you use these states to style your links, 
there is a specific order you need to write your CSS in
link, visited, hover, focus, then active
